@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
$main-font: "Montserrat", sans-serif;

//Colors
$colors: (
  "alert": rgb(142, 0, 49),
  "card": rgba(0, 0, 0, 0.7),
  "white": rgb(255, 255, 255),
  "button": rgb(36, 72, 227),
  "black": rgb(0, 0, 0),
  "label": rgb(238, 229, 233),
);

//Spacing
$base-size: 16px;

$spacings: (
  "xxxs": 8px,
  "xxs": 12px,
  "xs": 16px,
  "s": 18px,
  "m": 24px,
  "l": 32px,
  "xl": 40px,
  "xxl": 48px,
  "xxxl": 72px,
);

//Headers font sizes
$font-size: (
  "xs": 16px,
  "s": 18px,
  "m": 20px,
  "l": 24px,
  "xl": 32px,
  "xxl": 36px,
);
